.header {

}

.clouds {
	position: absolute;
	top:0px;
	left:0px;
	z-index:10000;
	background-image: url("images/clouds.png");
	background-size: contain;
	height: 650px;
	width: 100%;
	min-width:1900px;
}

.land {
	background-image: url("images/hills-background.png");
	background-size: cover;
	height: 276px;
	position: absolute;
	top: 500px;
	left: 0px;
	z-index: 10000;
	width: 100%;
}

.land-repeat {
	float:left;
	width:100%;
	z-index:1000;
	background-image: url("images/bg-repeat.png");
	background-repeat: repeat;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width:960px;
	position: relative;
	z-index:9999999;
}

.logo {
	float:left;
	margin-top:30px;
}

.faces {
	float:right;
	margin-top:15px;
}

.content {
	float: left;
	margin-top:30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'ITCOfficinaSerW01-BdSC';
	font-weight: normal;
	margin:0px;
}

.content h1 {
	color:#106196;
	font-size:32px;
	padding-left:110px;
	margin-bottom:0px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.55);
}

.content h1 span {
	color:#e87c3f;
}

.content .divider {
	margin-left:110px;
}

.content h2 {
	color:#e87c3f;
	font-size:45px;
	font-family:'ITCOfficinaSerW01-BdSC';
	padding-left:110px;
	margin-top:-10px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.55);
}

.content h2 span {
	color:#106196;
}

.debt-form-app {
	margin-top:30px;
	width:727px;
	height:265px;
	background-image:url('images/app-bg.png');
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	position: relative;
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 10px rgba(50, 50, 50, 0.75);
	border-radius:9px;
}

.debt-form-app h3 {
	font-size:30px;
	font-weight: normal;
	color:#505050;
	font-family: 'Trebuchet MS';
	padding-top:20px;
}

.debt-form-app p {
	font-family: 'Trebuchet MS';
	color:#505050;
	font-size:20px;
	margin:0px;
}

.debt-form-app button {
	background:none;
	background-image:url('images/orange-button-bg.png');
	width:107px;
	height:35px;
	color:#fff;
	font-family: 'Trebuchet MS';
	font-size:20px;
	border:none;
	margin-left:25px;
	margin-right:25px;
	margin-top:15px;
	margin-bottom:15px;
	text-shadow:-1px 0px 0px rgba(60, 60, 60, 0.55);
}

.debt-form-app input[type="text"], .debt-form-app input[type="email"] {
	background-color:#E9E9E9;
	border:1px solid #BFBFBF;
	border-radius: 3px;
	height:36px;
	width:226px;
	padding-left:2px;
	padding-right:2px;
}

.debt-form-app button:hover {
	background-image:url('images/blue-button-bg.png');
}

.button-wrap {
	margin-top:20px;
}

.step-two, .step-three, .step-four {
	display: none;
}

.step-four {
	padding:20px;
	padding-top:5px;
}

.outlet {
	width:384px;
	height:31px;
	background-image: url('images/outlet.png');
	position: absolute;
	bottom:-29px;
	left:50%;
	margin-left:-192px;
}

.outlet button {
	background-image:url('images/orange-big-button.png');
	width:281px;
	height: 61px;
	position: absolute;
	left:50%;
	margin-left:-140px;
	margin-top:-50px;
	text-transform: uppercase;
}

.outlet button:hover {
	background-image:url('images/blue-big-button.png');
}

.zip {
	margin-top:25px;
	margin-bottom:25px;
	text-align: center;
	font-size: 30px;
	color:#3195be;
	font-family: "Trebuchet MS";
}

.left-form {
	float:left;
	width:350px;
	margin-top:30px;
	margin-left: 25px;
	text-align: left;
}

.left-form h4 {
	font-family: "Trebuchet MS";
	font-size:25px;
	color:#505050;
}

.left-form ul {
	list-style: none;
	padding: 0px;
	font-size:15px;
	color:#505050;
	font-family:"Trebuchet MS";
	text-transform: uppercase;
}

.left-form ul li img {
	padding-right:10px;
}

.left-form h5 {
	font-family: "Trebuchet MS";
	font-size:20px;
	color:#37A556;
	margin-top:10px;
}

.right-form {
	float:right;
	margin-right:40px;
	margin-top:20px;
	max-width:250px;
}

.right-form input[type=text] {
	height:30px;
	float:right;
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
	font-size: 18px;
	font-family: "Trebuchet MS";
	color:#3195be;
}

.right-form input[type=email] {
	height:30px;
	float:right;
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
	font-size: 18px;
	font-family: "Trebuchet MS";
	color:#3195be;

}

.right-form .phone-lit {
	width:auto !important;
	float:left !important;
	clear:none !important;
	margin-left:4px;
	margin-right:4px;
	padding-left:2px;
	padding-right:2px;
}

.phone-lit:first-of-type {
	margin-left: 0px;
}

.tabbed-content {
	width:666px;
	float:left;
	margin-top:50px;
}

.tab-navigation {
	margin-left: 23px;
}

.tab-content-wrap {
	width:400px;
	float:right;
	padding-top:10px;
}

.tab-content-wrap h3 {
	color: #106196;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
	line-height: 22px;
	margin-top:10px;
	margin-bottom:-10px;
}

.tab-content-wrap h4 {
	color:#e87c3f;
	font-family: georgia;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}


.tab {
	margin-left:2px;
	margin-right:2px;
	padding-left:10px;
	padding-right:10px;
	width:131px;
	height:57px;
	background-image:url('images/blue-tab.png');
	float:left;
	font-family:'ITCOfficinaSerW01-BdSC';
	text-align: center;
	color:#fff;
	font-size:20px;
	text-shadow:-1px -1px 0px rgba(60, 60, 60, 1);
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 10px rgba(50, 50, 50, 0.75);
}

.tab:hover {
	background-image: url('images/orange-tab.png');
	color:#e87c3f;
	text-shadow:none;
	cursor:pointer;
}


.tab-hover {
	background-image: url('images/orange-tab.png');
	color:#e87c3f;
	text-shadow:none;
}

.tab-text {
	float:left;
	width:576px;
	background-image:url('images/content-mid.png');
	background-repeat: repeat-y;
	padding-left:45px;
	padding-right:45px;
	font-family: georgia;
	font-size:14px;
	color: #2b2d2d;
	line-height: 27px;
}

.tab-image {
	float:left;
	padding:20px;
}

.tab-text h2 {
	font-size: 20px;
	font-family:'ITCOfficinaSerW01-BdSC';
	color:#f46413;
	padding:0px;
	margin:0px;
	margin-top:20px;
	margin-bottom:-8px;
	text-transform: uppercase;
}

.tab-text h4 {
	font-size: 16px;
	color:#f46413;
	font-family: georgia;
	font-weight: bold;
}

.tab-text p {
	font-family: georgia;
	font-size:16px;
	color: #2b2d2d;
	line-height: 22px;
}

.sidebar {
	float:right;
	margin-top:50px;
}

.sidebar-module {
	width:274px;
	background-image:url('images/sidebar-panel-bg.png');
	border-radius:10px;
	color:#fff;
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 10px rgba(50, 50, 50, 0.75);
}

.sidebar-module p {
	font-family: "Trebuchet MS";
	font-size:15px;
	padding:22px;
	padding-top:0px;
}

.sidebar-module ul {
	list-style: none;
	color:#fff;
	padding:0px;
	padding-left:20px;
	font-size:13px;
	text-transform: uppercase;
	font-family: "Trebuchet MS";
	padding-bottom:10px;
	padding-top:5px;
	padding-right:20px;
}

.sidebar-module ul li {
	margin-top:10px;
	margin-bottom:10px;
}

.sidebar-module ul li img {
	padding-right:10px;
	clear:both;
}

.sidebar-header {
	background-image:url('images/sidebar-header-bg.png');
	width:274px;
	height:34px;
	background-repeat: repeat-x;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	text-align: center;
}

.sidebar-module h4 {
	color:#fff;
	font-size: 20px;
	padding-top:4px;
	text-transform: uppercase;
	text-shadow:0px -1px 0px rgba(60, 60, 60, .55);
}

.tab-two, .tab-three, .tab-four {
	display: none;
}

.jaged-grass {
	background-image: url('images/jaged-grass.png');
	background-repeat: repeat-x;
	height:7px;
	width:100%;
	float:left;
	position: relative;
}

.footer {
	float:left;
	position: relative;
	width:100%;
	height:319px;
	background-image: url('images/footer-bg.png');
	z-index:-1;
}

.footer ul {
	float:left;
	font-family: "Trebuchet MS";
	font-size:18px;
	color:#fff;
	padding:0px;
	margin:0px;
	text-align: center;
	list-style: none;
	width: 100%;
}

.footer ul li {
	padding-top:13px;
	padding-bottom:13px;
	background-image:url('images/footer-line.png');
	background-repeat: repeat-x;
	background-position: 0px 44px;
	text-shadow:0px -1px 0px #000;
}

.footer ul li a {
	text-decoration: none;
	color:#fff;
}

.footer ul li a:hover {
	color:#574420;
	text-shadow:none;
}

.footer ul li:last-of-type {
	background-image: none;
}

.left {
	float: left;
	background-image:url('images/footer-dirt.png');
	width:223px;
	height:88px;
	margin-top:-30px;
}

.mid {
	float:left;
	width:285px;
	height:88px;
	background-image:url('images/footer-dirt-two.png');
	margin-top:-30px;
}

.mid-footer ul {
	max-width: 223px;
	margin-left: auto;
	margin-right: auto;
	float:none;
	margin-top:60px;
}

.right {
	float:right;
	width:223px;
	height:88px;
	background-image:url('images/footer-dirt-two.png');
	margin-top:-30px;
}

.left h4, .mid h4, .right h4 {
	color:#f46413;
	font-family:'ITCOfficinaSerW01-BdSC';
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-top:45px;
	text-shadow:0px -2px 0px #000;
}

.left-footer {
	float:left;
	width:223px;
	margin-right:94px;
}

.mid-footer {
	float:left;
	width:285px;

}

.right-footer {
	float:right;
	width:223px;

}

.gopher {
	margin-top:5px;
	margin-left:50px;
}

.phone-info {
	float:right;
}

.phone-info label {
	clear: both;
	display: block;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #757575;
	text-align: right;

}

.baloon {
	position: absolute;
	top:200px;
	left:0px;
	z-index: 99999;
	margin-left:-90px;
}

::-webkit-input-placeholder { color:#3195be; }
::-moz-placeholder { color:#3195be; }
:-ms-input-placeholder { color:#3195be; }